FoodMeter
{
	font-family: coolvetica;
	position: absolute;
	background-color: rgba( black, 0.8 );
	border-radius: 20px;
	right: 45%;
	bottom: 48px;
	font-size: 60px;
	font-weight: bold;
	color: white;
	height: 100px;
	padding: 25px 25px;
	align-items: center;
}