FoodMeter
{
	font-family: coolvetica;
	position: absolute;
	background-color: rgba( black, 0.7 );
	border-radius: 20px;
	left: 45%;
	bottom: 48px;
	font-size: 60px;
	font-weight: bold;
	color: white;
	height: 100px;
	padding: 30px 30px;
	align-items: center;
}