

text.title
{
	font-family: coolvetica;
	font-size: 15px;
	font-weight: 300;
	color: white;
	position: absolute;
	left: 50px;
	top: 90px;

}
text.glizzyalert
{
	font-family: Akira;
	font-size: 30px;
	font-weight: 900;
	color: red;
	position: absolute;
	left: 50px;
	top: 30px;
	text-shadow: 5px 5px 5px rgba( black, 0.2 );
	
}
text.crosshair{
	position: absolute; 
	left: 50%; 
	top: 50%;
	width: 4px; 
	height: 4px; 
	transform: translate( -50% -50% );
}