

text.title {
	font-family: coolvetica;
	font-size: 15px;
	font-weight: 300;
	color: white;
	position: absolute;
	right: 25%;
	top: 10%;
	opacity: 0.5;
}
text.crosshair{
	position: absolute; 
	left: 50%; 
	top: 50%;
	width: 4px; 
	height: 4px; 
	transform: translate( -50% -50% );
}