RoundTime
{
	font-family: coolvetica;
	position: absolute;
	background-color: rgba( pink, 0.7 );
	border-radius: 20px;
	top: 20px;
	right: 45%;
	font-size: 40px;
	font-weight: bold;
	color: white;
	height: 80px;
	padding: 0 20px;
	align-items: center;
}