

text.title
{
	font-family: coolvetica;
	font-size: 15px;
	font-weight: 300;
	color: white;
	position: absolute;
	left: 100px;
	top: 320px;

}
text.glizzyalert
{
	font-family: Akira;
	font-size: 50px;
	font-weight: 900;
	color: red;
	position: absolute;
	left: 100px;
	top: 200px;
	
}
text.crosshair{
	position: absolute; 
	left: 50%; 
	top: 50%;
	width: 4px; 
	height: 4px; 
	transform: translate( -50% -50% );
}